<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>CheckPrimeServlet</servlet-name>
    <servlet-class>cn.rbcheng.rsa.servlet.CheckPrimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPrimeServlet</servlet-name>
    <url-pattern>/CheckPrimeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckPublicKeyServlet</servlet-name>
    <servlet-class>cn.rbcheng.rsa.servlet.CheckPublicKeyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPublicKeyServlet</servlet-name>
    <url-pattern>/CheckPublicKeyServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GeneratePublicKeyServlet</servlet-name>
    <servlet-class>cn.rbcheng.rsa.servlet.GeneratePublicKeyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratePublicKeyServlet</servlet-name>
    <url-pattern>/GeneratePublicKeyServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EncodeServlet</servlet-name>
    <servlet-class>cn.rbcheng.rsa.servlet.EncodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EncodeServlet</servlet-name>
    <url-pattern>/EncodeServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DecodeServlet</servlet-name>
    <servlet-class>cn.rbcheng.rsa.servlet.DecodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecodeServlet</servlet-name>
    <url-pattern>/DecodeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GeneratePrimeServlet</servlet-name>
    <servlet-class>cn.rbcheng.rsa.servlet.GeneratePrimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratePrimeServlet</servlet-name>
    <url-pattern>/GeneratePrimeServlet</url-pattern>
  </servlet-mapping>
</web-app>
